.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
  font-family:'Paperlogy 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image {
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
.heading_1 {
  font-family:'Freesentation 7 Bold', 'Freesentation 7', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Freesentation 6 SemiBold', 'Freesentation 6', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Freesentation 5 Medium', 'Freesentation 5', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Freesentation 4', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Freesentation 3 Light', 'Freesentation 3', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Freesentation 2 ExtraLight', 'Freesentation 2', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.form_hint {
  font-family:'Paperlogy 4', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.form_disabled {
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
.line {
  font-family:'Freesentation 4', sans-serif;
  font-weight:400;
  font-style:normal;
}
.connector {
  font-family:'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
.text_field {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.shape1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.icon {
}
.image1 {
}
.button {
}
.shape2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.paragraph1 {
  text-align:left;
}
.heading_21 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_31 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.form_disabled1 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
.shape3 {
}
.shape4 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.materialicons {
  font-family:'Material Icons ', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.paragraph2 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.box_1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.icon1 {
}
.box_2 {
}
.checkbox {
  text-align:left;
}
.flow_shape {
}
.radio_button {
  text-align:left;
}
.shape5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.label {
  font-size:14px;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.box_11 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.shape6 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.button1 {
}
.shape7 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.dialog_bg {
}
.paragraph3 {
  text-align:left;
}
textarea, select, input, button { outline: none; }
